<div>
  <header>
    <nav>
      <ul>
        <li>
          <a href="#home">home</a>
        </li>
        <li>
          <a href="#contato">contato</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="home">
      <h1>
        Matheus Javier Novaes Perez
      </h1>
      <p>Sou formado em Nutrição e atualmente estou em novo desafio, cursando Análise e desenvolmento de sistemas na
        Faculdade de Tecnologia Antonio Russo(FATEC-SCS)
      </p>
      <p>Sempre tive interesse pela área da tecnologia, entretanto, segui outros rumos até resolver de fato ir atrás dos
        meus objetivos.
      </p>
    </div>
    <div>
      <h3>
        contato
      </h3>
      <p>Contate-me através dos ícones abaixo.</p>
      <div>
        <a href="https://www.linkedin.com/in/matheus-javier-015285206/">linkedin</a>
        <a href="https://api.whatsapp.com/send?phone=5511954180749&text=Quero%20entrar%20em%20contato%20com%20voce">whatsapp</a>
      </div>
    </div>
  </main>


</div>