<div>
  <header>
    <nav>
      <ul class="bar-nav">
        <li>
          <a class="link" href="#home"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        </li>
        <li>
          <a class="link" href="#contato"><i class="fa fa-mobile" aria-hidden="true"></i>Contato</a>
        </li>
        <li>
          <a class="link"
            href="https://drive.google.com/file/d/1U5Sf3kirkreKE5xkJnWLWdCTcbD9XLgH/view?usp=drive_link"><i
              class="fa fa-file-pdf-o" aria-hidden="true"></i>Currículo</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="home">
      <h1>
        Matheus Javier Novaes Perez
        <hr />
      </h1>
      <p>Me apresentando de forma breve, sou formado em Nutrição e atualmente estou em novo desafio, cursando Análise e
        desenvolmento de sistemas na
        Faculdade de Tecnologia Antonio Russo(FATEC-SCS).
      </p>
      <p>Vejo que a tecnologia tem um vasto poder sobre o mundo todo e isso sempre me encantou, pois, sempre me vi a
        frente de coisas que estejam em constante evolução.
        Tenho como ponto forte o espanhol intermediário e atualmente estou focando em melhorar o meu inglês para
        avançado visando boas oportunidades de emprego.
      </p>
      <div class="social1">
        <a href="https://www.linkedin.com/in/matheus-javier-015285206/"><i class="fa fa-linkedin-square"
            aria-hidden="true"></i>Linkedin</a>
      </div>
      <div class="social2">
        <a href="https://github.com/Matheusjavier"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
      </div>
      <div class="social3">
        <a href="https://api.whatsapp.com/send?phone=5511954180749&text=Quero%20entrar%20em%20contato%20com%20voce"><i
            class="fa fa-whatsapp" aria-hidden="true"></i>Whatsapp</a>
      </div>
      <div class="social4">
        <a href="mailto:matheusjnp14@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>E-mail</a>
      </div>
    </div>
    <div id="contato">
      <h3>
        CONTATO<i class="fa fa-mobile" aria-hidden="true"></i>
      </h3>
      <p>Contate-me através dos ícones abaixo.</p>
      <div>
        <a class="cont1" href="https://www.linkedin.com/in/matheus-javier-015285206/"><i class="fa fa-linkedin-square"
            aria-hidden="true"></i>linkedin</a>
        <a class="cont2"
          href="https://api.whatsapp.com/send?phone=5511954180749&text=Quero%20entrar%20em%20contato%20com%20voce"><i
            class="fa fa-whatsapp" aria-hidden="true"></i>whatsapp</a>
      </div>
      <div class="footer">
        <p><i class="fa fa-copyright" aria-hidden="true"></i>2023 Matheus Javier Novaes Perez</p>
      </div>
    </div>
  </main>
</div>