<div>
  <header>
    <nav>
      <ul class="bar-nav">
        <li>
          <a class="link" href="#home"><i class="fa fa-home" aria-hidden="true"></i>home</a>
        </li>
        <li>
          <a class="link" href="#contato"><i class="fa fa-phone" aria-hidden="true"></i>contato</a>
        </li>
        <li>
          <a class="link" href="https://drive.google.com/file/d/1U5Sf3kirkreKE5xkJnWLWdCTcbD9XLgH/view?usp=drive_link"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Currículo</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="home">
      <h1>
        Matheus Javier Novaes Perez
      </h1>
      <p>Sou formado em Nutrição e atualmente estou em novo desafio, cursando Análise e desenvolmento de sistemas na
        Faculdade de Tecnologia Antonio Russo(FATEC-SCS).
      </p>
      <p>Sempre tive interesse pela área da tecnologia, entretanto, segui outros rumos até resolver de fato ir atrás dos
        meus objetivos.
      </p>
      <div class="social">
        <a href="https://www.linkedin.com/in/matheus-javier-015285206/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/MatheusJNP"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5511954180749&text=Quero%20entrar%20em%20contato%20com%20voce"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        <a href="mailto:matheusjnp14@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
    <div id="contato">
      <h3>
        contato
      </h3>
      <p>Contate-me através dos ícones abaixo.</p>
      <div>
        <a href="https://www.linkedin.com/in/matheus-javier-015285206/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>linkedin</a>
        <a href="https://api.whatsapp.com/send?phone=5511954180749&text=Quero%20entrar%20em%20contato%20com%20voce"><i class="fa fa-whatsapp" aria-hidden="true"></i>whatsapp</a>
      </div>
    </div>
  </main>


</div>